.NavButton__container {
  background-color: #f9f9f9;
  padding: 13px;
  border-radius: 20px;
  margin-right: 9px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavButton__container span {
  font-size: 16px;
  font-weight: 700;
}
/* логика кнопки */
.NavButton__container:active {
  color: white;
  background-color: black;
}
.NavButton__container:hover {
  color: white;
  background-color: black;
}
.navigation__container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
