.navigation__container {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 3fr 1fr;
}
.navigation__block {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 0px 0px;
}
/* component navbutton */
.NavButton__container {
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  padding: 5px;
}
.NavButton__container span {
  font-size: 16px;
  font-weight: 700;
}
/* логика кнопки */
.NavButton__container:active {
  color: white;
  background-color: black;
}
.NavButton__container:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
/* sort */

.sort__choise {
  margin-left: 8px;
  color: #fe5f1e;
  font-weight: 400;
  border-bottom: 1px dotted #fe5f1e;
  cursor: pointer;
}
.sort__list {
  min-width: 20%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.sort__selects {
  position: absolute;
  top: 110%;
  left: 20%;
  box-shadow: 0px 5px 15px 0px #00000017;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}
.sort__select {
  width: 151px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
}
.sort__select:hover {
  background: #fe5f1e0d;
  color: #fe5f1e;
  font-weight: 700;
}
